<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <style type="text/css">
        body,
        html {
            width: 250px;
        }

        input:not([type="checkbox"]):not([type="radio"]),
        select {
            width: 160px;
        }

        input:not([type="radio"]),
        select {
            margin-bottom: 15px;
        }

        .button {
            width: 200px !important;
        }
    </style>
</head>

<body>
    <span>Informacion</span>
    <form th:action="@{/crearCandidato}" th:object="${candidato}" method="POST" id="userForm">
        <div style="border: 1px solid black; padding:20px;">

            <span th:if="${candidato.id !=null}"><input type="text" th:field="${candidato.id}" readonly></span>
            <label th:text="Nombre"></label><br/>
            <input type="text" placeholder="Nombre" th:field="${candidato.nombreCandidato}" />

            <label th:text="Apellido"></label><br/>
            <input type="text" placeholder="Apellido" th:field="${candidato.apellidoandidato}" />

            <label th:text="'Fecha de nacimiento'"></label><br/>
            <input type="date" th:field="${candidato.fechaNacCandidato}" />
            </div><br/>
            
            <input type="Submit" th:value="${candidato.id != null} ? 'Guardar Candidato' : 'Crear Candidato'" />
    </form>

    <table border="1">
        <thead>
            <tr>Id</tr>
            <tr>Nombre</tr>
            <tr>Apellido</tr>
            <tr>Editar</tr>
            <tr>Eliminar</tr>
        </thead>
        <tbody>
            <tr th:each="candidato : ${candidatos}">
                <td th:text="${candidato.id}"></td>
                <td th:text="${candidato.nombreCandidato}"></td>
                <td th:text="${candidato.apellidoandidato}"></td>
                <td th:text="${candidato.fechaNacCandidato}"></td>
                <td><a th:href="@{'/editarCandidato/'+ ${candidato.id}}">Editar |</a><a
                        th:href="@{'/eliminarCandidato/'+ ${candidato.id}}"> Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>